.example-container {
    width: 300px;
    height: 100vh;
    margin-right: 50px;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    
  }
  
  .example-sidenav {
    padding: 20px;
  }
  
  .expand_toggle{
    width: 500px;
    height: 100vh;
  }