/*
 * @fileoverview Style dla panelu bocznego (side-nav).
 */
.example-container {
    height: 65vh;
}

@media (min-width: 1024px) {
    .example-container {
        height: 100vh;
    }
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}