<!--
  @fileoverview Szablon HTML dla komponentu pojedynczego przepisu.
-->
<div class="container mx-auto font-bold">
    <div class="flex flex-wrap justify-center my-6">
        <p class="text-4xl text-bold">{{recipe.name}}</p>
    </div>
    
    <div class="flex flex-wrap justify-center mb-8">
        <div class="w-full flex justify-left mb-2">
            <div class="me-2">Kuchnia:</div>
            <div>
                <app-tag (addTag)="addTag($event)" [type]="'cuisine'" [name]="recipe.cuisine"></app-tag>
            </div>
        </div>
        <div class="w-full flex justify-left mb-2">
            <div class="me-2">Dieta:</div>
            <div *ngFor="let diet of recipe.diets">
                <app-tag (addTag)="addTag($event)" [type]="'diet'" [name]="diet"></app-tag>
            </div>
        </div>
        <div class="w-full flex justify-left">
            <div class="me-2">Składniki:</div>
            <div *ngFor="let ingredient of recipe.ingredients">
                <app-tag (addTag)="addTag($event)" [type]="'ingredient'" [name]="ingredient"></app-tag>
            </div>
        </div>
    </div>

    <table class="flex items-center full-width">
        <td [width]="'70%'">
            <div class="col-span-4 text-l font-normal me-6 leading-loose">
                <div  *ngFor="let sentence of recipe.recipe.split('.')">
                    <li *ngIf="sentence.length > 0">{{ sentence.trim() }}</li>
                </div>
            </div>
        </td>
                
            
                <img class="col-span-2 w-96 h-96 rounded" src="{{encode(imgUrl + recipe.image_path)}}" alt="recipe image">
            
          
        
    </table>
        <button mat-icon-button *ngIf="!audioUnlocked" (click)="showAudio()">
            <mat-icon>
                headphones
            </mat-icon>
        </button>
      <audio *ngIf="audioUnlocked" controls [src]="audioUrl + recipe.audio_path"></audio>
      
</div>