<div class="mt-4">
    <!-- Cuisine Section -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Wyszukiwanie kuchni</mat-label>
        <input type="text" matInput [formControl]="cuisineCtrl" [matAutocomplete]="autoCuisine"
            placeholder="Wpisz wyszukiwaną kuchnię">
        <mat-autocomplete #autoCuisine="matAutocomplete" (optionSelected)="addCuisine($event.option.value)">
            <mat-option *ngFor="let cuisine of filteredCuisines | async" [value]="cuisine">
                {{ cuisine }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-chip-list class="py-1">
        <mat-chip class="ml-2" *ngFor="let cuisine of selectedCuisines" [removable]="true"
            (removed)="removeCuisine(cuisine)">
            {{ cuisine }}
            <mat-icon matChipRemove>x</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>

<div class="py-1">
    <!-- Diet Section -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Wyszukiwanie diet</mat-label>
        <input type="text" matInput [formControl]="dietCtrl" [matAutocomplete]="autoDiet"
            placeholder="Wpisz wyszukiwaną dietę">
        <mat-autocomplete #autoDiet="matAutocomplete" (optionSelected)="addDiet($event.option.value)">
            <mat-option *ngFor="let diet of filteredDiets | async" [value]="diet">
                {{ diet }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-chip-list class="py-1">
        <mat-chip class="ml-2" *ngFor="let diet of selectedDiets" [removable]="true" (removed)="removeDiet(diet)">
            {{ diet }}
            <mat-icon matChipRemove>x</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>
<div class="py-1">
    <!-- Ingredients Section -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Wyszukiwanie składników</mat-label>
        <input type="text" matInput [formControl]="ingredientCtrl" [matAutocomplete]="autoIngredients"
            placeholder="Wpisz wyszukiwany składnik">
        <mat-autocomplete #autoIngredients="matAutocomplete" (optionSelected)="addIngredient($event.option.value)">
            <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient">
                {{ ingredient }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-chip-list class="py-1">
        <mat-chip class="ml-2" *ngFor="let ingredient of selectedIngredients" [removable]="true"
            (removed)="removeIngredient(ingredient)">
            {{ ingredient }}
            <mat-icon matChipRemove>x</mat-icon>
        </mat-chip>
    </mat-chip-list>

</div>


<div class="px-6 mt-2">
    <button mat-raised-button color="white" (click)="getFilteredRecipes()">
        Filtruj według wybranych
    </button>
</div>