/*
 * @fileoverview Style dla komponentu tag.
 */
/* @description Style dla komponentu tag */
button:hover {
  cursor: pointer;
}

button {
  font-family: Roboto, sans-serif;
}

.tag-hover:hover {
  background-color: rgb(183, 136, 19);
}