/*
 * @fileoverview Style dla komponentu przeglądania przepisów.
 */
mat-autocomplete {
    background-color: white;
}
.mat-mdc-select-panel-above {
    background: #222222 !important;
  }
.cdk-overlay-pane {
    background: #222222 !important;
}

mat-paginator {
    background-color: #222222 !important;
    background: #222222 !important;
    margin-right: 15px !important;
    font-size: 1rem !important;
}


table {
    width: 100%;
}
.nav{
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px) {
    .nav{
        width: 100%;
        display: flex;
    justify-content: center;
    
    }
  }