<!--
  @fileoverview Szablon HTML dla komponentu przeglądania przepisów.
-->
<!--
  @description Szablon HTML dla komponentu przeglądania przepisów, zawierający listę przepisów oraz panel paginacji.
-->
<table>
  <tr>
    <td class="flex align-top">
      <side-nav [filtersObservable]="$filter.asObservable()" (filtersEmmiter)="saveFilters($event)"></side-nav>
    </td>
    <td>
      <div class="mb-24">
        <!-- Recipes view Section -->
        <div *ngFor="let recipe of recipes">
          <app-single-recipe (tagEmitter)="addTag($event)" [recipe]="recipe"></app-single-recipe>
        </div>
      </div>
      <mat-paginator 
        (page)="handlePageEvent($event)" 
        [length]="length" 
        [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons" 
        [pageSizeOptions]="pageSizeOptions" 
        [pageIndex]="pageIndex"
        aria-label="Select page"
        class="fixed bottom-0 left-0 w-full bg-black text-white shadow-md mt-8">
      </mat-paginator>
    </td>
  </tr>
</table>