/*
 * @fileoverview Style dla komponentu przeglądania przepisów.
 */
/* mat-autocomplete {
    background-color: white;
} */

table {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px) {
    .nav {
        width: 100%;
        display: flex;
        justify-content: center;

    }
}