<table>
  <tr>
    <td class="flex align-top">
      <side-nav [filtersObservable]="$filter.asObservable()" (filtersEmmiter)="saveFilters($event)"></side-nav>
    </td>
    <td>
      <!-- Recipes view Section -->
      <div *ngFor="let recipe of recipes">
        <app-single-recipe (tagEmitter)="addTag($event)" [recipe]="recipe"></app-single-recipe>
      </div>



      <mat-paginator 
        (page)="handlePageEvent($event)" 
        [length]="length" 
        [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons" 
        [pageSizeOptions]="pageSizeOptions" 
        [pageIndex]="pageIndex"
        aria-label="Select page"
        class="fixed bottom-0 left-0 w-full bg-black text-white shadow-md">
      </mat-paginator>
    </td>
  </tr>

</table>