/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
    background-color: #222222;
    color: rgb(255, 255, 255);
}

.mat-mdc-select-panel-above {
    background: #222222 !important;
}

.mat-mdc-select-panel-above div :hover {
    background: #353535 !important;
}

.mat-mdc-paginator-container {
    background: #222222 !important;
}