/*
 * @fileoverview Global styles for the application.
 * @description This file contains all global style definitions and imports.
 */

@import "tailwindcss";

body {
    background-color: #222222;
    color: rgb(255, 255, 255);
}

.mat-mdc-select-panel-above {
    background: #222222 !important;
}

.mat-mdc-select-panel-above div :hover {
    background: #353535 !important;
}

.mat-mdc-paginator-container {
    background: #222222 !important;
}