<!--
  @fileoverview Szablon HTML dla komponentu strony głównej.
  @description Template for the home page displaying welcome content and navigation.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NoCapCooking</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-black">
  <div class="mx-auto max-w-screen-xl px-4">
    <header class="text-center py-10">
      <h2 class="text-xl sm:text-2xl font-medium">Witaj w</h2>
      <h1 class="text-4xl sm:text-5xl font-bold italic">NoCapCooking</h1>
      <p class="mt-4 text-base sm:text-lg ">Stronie z przepisami, obrazami i audio generowanymi przez AI</p>
      <img src="NoCapCooking-Logo-2.jpg" alt="Logo" class="mx-auto mb-8 w-1/2 sm:w-1/3 lg:w-1/4 rounded-lg shadow-lg" />
      <div class="flex justify-center items-center pt-4">
        <button class="main-button py-2 px-6 border border-black rounded hover:opacity-90 transition cursor-pointer"
          (click)="redirect()">
          {{ welcomeMessage() }}
        </button>
      </div>
    </header>

    <footer class="py-8 mt-12 border-t border-gray-300">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 text-center sm:text-left">
        <div>
          <h3 class="text-lg font-semibold mb-2">Autorzy</h3>
          <p>Dawid Maliszewski</p>
          <p>Amelia Posiadała</p>
          <p>Adam Ropelewski</p>
          <p>Dawid Rychlik</p>
        </div>
        <div>
          <h3 class="text-lg font-semibold mb-2">Dokumentacja</h3>
          <p><a class="text-blue-400 hover:text-blue-600"
              href="https://nocapcooking-cdn.s3.pl-waw.scw.cloud/docs/app_documentation.pdf">Aplikacja</a></p>
          <p><a class="text-blue-400 hover:text-blue-600"
              href="https://nocapcooking.github.io/nocapcooking-frontend/">Frontend</a></p>
          <p><a class="text-blue-400 hover:text-blue-600"
              href="https://nocapcooking.github.io/nocapcooking-backend/">Backend</a></p>
        </div>
        <div>
          <h3 class="text-lg font-semibold mb-2">Zastrzeżenie prawne</h3>
          <p class="text-blue-400 hover:text-blue-600" (click)="openDialog()">Zobacz ostrzeżenie</p>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>